<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Новости{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

{% include 'inc/_navbar.html' %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}SIDEBAR{% endblock %}
        </div>
        <div class="col-md-9">
            {% block content %}CONTENT{% endblock %}
        </div>
    </div>
</div>

</body>
</html>